# Python byte-compiled and cache files
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
venv310/

# Virtual environments
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/
venv38/
.Python
static/recordings/

# Project-specific directories
/__pycache__/
/recordings
/test/
/output
/calibration_images/
/calibration_data.npz
/misc/
/static/ffmpeg/
/yolo_test
/_local

# C extensions
*.so

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Logs and local settings
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask
instance/
.webassets-cache

# Scrapy
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Pyenv
.python-version

# Pipenv and Poetry
Pipfile.lock
poetry.lock
.pdm.toml
.pdm-python
.pdm-build/
pdm.lock

# PEP 582 (__pypackages__ directory)
__pypackages__/

# Celery
celerybeat-schedule
celerybeat.pid

# SageMath
*.sage.py

# Environment variables
.env

# Spyder
.spyderproject
.spyproject

# Rope
.ropeproject

# Mkdocs
/site

# Mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# Pytype
.pytype/

# Cython
cython_debug/

.DS_Store
_venv